body {
    margin: 0;
}

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

main {
    text-transform: uppercase;
    color: white;
    padding-top: 5vh;
    height: 100vh;
}

.content-box {
    margin: auto;
    display: flex;
    align-content: space-between;
    width: 90vw;
    padding: 4px;
    min-width: 760px;
    background-color: rgba(0,0,0,.5);
}

.selection-panel {
    width: 50%;
    margin-right: 2px;
}

.information-panel {
    width: 50%;
    margin-left: 2px;
}

.text-panel-black {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    text-transform: uppercase;
    color: white;
}

label{
    letter-spacing: 0.25rem;
    margin: 10px;
}

.text-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

#available-points {
    font-weight: bold;
    font-size: 1.25rem;
}

.icon-panel {
    margin: 6px 0px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
}

.attributes-tree {
    background-color: rgba(0,0,0,.1);
}

.selectable-icon {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 20%;
    max-width: 50px;
    min-width: 20px;
    opacity: .4;
    cursor: pointer;
}

.selectable-icon:hover {
    opacity: 1;
}

.selectable-icon img {
    width: 100%;
    height: auto;
}

.selected-icon {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 20%;
    max-width: 50px;
    min-width: 20px;
    opacity: .85;
    cursor: pointer;
}

.selected-icon img {
    width: 100%;
    height: auto;
}

.list-item {
    border-bottom: 2px solid black;
}

.margin-1 {
    margin-left: 20px;
}

.margin-2 {
    margin-left: 40px;
}

.attribute-list-item {
    display: flex;
    align-items: center;
}

.attribute-list-item .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.attribute-list-item img {
    width: 32px;
    height: auto;
}

#selectable {
    opacity: .8;
    cursor: pointer;
}

#selectable label {
    cursor: pointer;
}

#selectable:hover {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

#non-selectable {
    background-color: rgba(0,0,0,.5);
}

#selected {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.icon-description {
    display: flex;
    align-items: stretch;
    border: 2px solid black;
    background-color: rgba(0,0,0,.4);
}

.icon-description img {
    border-right: 2px solid black;
    width: 100px;
    height: 100px;
    align-self: center;
}

.icon-description label {
    font-size: .9rem;
}

.selectable-perk {
    display: flex;
    border-bottom: 2px solid black;
    min-height: 100px;  
}

#perk-index {
    align-self: center;
    width: 40px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#perk-level-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.selectable-perk {
    width: 100%;
}

.selectable-perk img {
    width: 40px;
    height: 40px;
    align-self: center;
    margin: 15px;
}

.selectable-perk div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectable-perk div label {
    text-transform: none;
    letter-spacing: 0.05rem;
    margin: 0;
}

.bought-perk {
    background-color: rgba(255, 255, 255, 0.5);
}

.unblocked-perk {
    cursor: pointer;
}

.unblocked-perk label {
    cursor: pointer;
}

.unblocked-perk:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.blocked-perk {
    opacity: .5;
}

