body {
    margin: 0;
}

main {
    text-transform: uppercase;
    color: white;
    background-image: url("../public/background.png");
    padding-top: 5vh;
    height: 100vh;
}

.content-box {
    margin: auto;
    display: flex;
    align-content: space-between;
    width: 90vw;
    padding: 4px;
    min-width: 760px;
    background-color: rgba(0,0,0,.5);
}

.selection-panel {
    width: 50%;
    margin-right: 2px;
}

.information-panel {
    width: 50%;
    margin-left: 2px;
}

.text-panel-black {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    text-transform: uppercase;
    color: white;
}

label{
    letter-spacing: 0.25rem;
    margin: 10px;
}

.text-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#available-points {
    font-weight: bold;
    font-size: 1.25rem;
}

.icon-panel {
    margin: 6px 0px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
}

.attributes-tree {
    background-color: rgba(0,0,0,.1);
}

.selectable-icon {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 20%;
    max-width: 50px;
    min-width: 20px;
    opacity: .4;
    cursor: pointer;
}

.selectable-icon:hover {
    opacity: 1;
}

.selectable-icon img {
    width: 100%;
    height: auto;
}

.selected-icon {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 20%;
    max-width: 50px;
    min-width: 20px;
    opacity: .85;
    cursor: pointer;
}

.selected-icon img {
    width: 100%;
    height: auto;
}

.list-item {
    border-top: 2px solid black;
}

.margin-1 {
    margin-left: 20px;
}

.margin-2 {
    margin-left: 40px;
}

.attribute-list-item {
    display: flex;
    align-items: center;
}

.attribute-list-item .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.attribute-list-item img {
    width: 32px;
    height: auto;
}

#selectable {
    opacity: .8;
    cursor: pointer;
}

#selectable label {
    cursor: pointer;
}

#selectable:hover {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}

#non-selectable {
    background-color: rgba(0,0,0,.5);
}

#selected {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}